@page
@model Projektopgave1._2.AddTemaModel
@{
}
<h3>Opret nyt Tema</h3>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="None " class="text-danger">
            </div>
            <div class="form-group">
                <label asp-for="@Model.Tema.Name" class="control-label"></label>
                <input asp-for="@Model.Tema.Name" class="form-control" />
                <span asp-validation-for="@Model.Tema.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Tema.Id" class="control-label"></label>
                <input asp-for="@Model.Tema.Id" class="form-control" />
                <span asp-validation-for="@Model.Tema.Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Tema.Description" class="control-label"></label>
                <input asp-for="@Model.Tema.Description" class="form-control" />
                <span asp-validation-for="@Model.Tema.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Tema.ImageName" class="control-label"></label>
                <input asp-for="@Model.Tema.ImageName" class="form-control" />
                <span asp-validation-for="@Model.Tema.ImageName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Tema.Kode" class="control-label"></label>
                <input asp-for="@Model.Tema.Kode" class="form-control" />
                <span asp-validation-for="@Model.Tema.Kode" class="text-danger"></span>
            </div>
            <button type="button" class="btn btn-primary tilføj-tema-knap" data-toggle="modal" data-target="#exampleModal">
                Opret Tema
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Er du sikker på du vil oprette dette tema?</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuller</button>
                            <button type="submit" class="btn btn-primary">OK</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


@if (ViewData["Message"] != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@ViewData["Message"]");
            };
    </script>
}
@if (ViewData["Message2"] != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@ViewData["Message2"]");
            };
    </script>
}
@if (ViewData["Message3"] != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@ViewData["Message3"]");
            };
    </script>
}
