@page
@model Projektopgave1._2.AllTemaModel
@{
    ViewData["Title"] = "AllTema";
}
<h1> AllTema </h1>
<table class="table">
    <thead>
        <tr>
            <th>Name </th>
            <th>Id</th>
            <th>Description</th>
            <th>Image</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Temaer.Count != 0)
        {
            @foreach (var item in Model.Temaer)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Id
                    </td>
                    <td>
                        @item.Description
                    </td>
                    <td>
                        <img src="~/images/@item.ImageName" width="140" height="70">
                    </td>
                    <td>
                        <p>
                            <a asp-page="EditTema" asp-route-id="@item.Id">Edit</a> |
                            <a asp-page="DeleteTema" asp-route-id="@item.Id">Delete</a> |
                            <a asp-page="SeTema" asp-route-id="@item.Id"> Se Tema</a>  |

                        </p>
                    </td>
                </tr>
            }}
    </tbody>
</table>
<a asp-page="AddTema"
   class="text-dark btn btn-success col-auto pull-left">
    Opret tema
</a>

<a asp-page="../Kunstner/AllKunstner"
   class="text-dark btn btn-warning col-auto pull-right">
    Se kunstnere
</a>
<div>
    <a href="javascript:history.back()" class="btn btn-secondary m-1">Tilbage</a>
</div>