@page
@model Projektopgave1._2.EditTemaModel
@{
}
<h3>Edit Tema</h3>

<p>ID @Model.Tema.Id</p>
<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="@Model.Tema.Id" />
    <div class="form-group">
        <label asp-for="@Model.Tema.Name" class="control-label"></label>
        <input asp-for="@Model.Tema.Name" class="form-control" />
        <span asp-validation-for="@Model.Tema.Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Tema.Description" class="control-label"></label>
        <input asp-for="@Model.Tema.Description" class="form-control" />
        <span asp-validation-for="@Model.Tema.Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Tema.ImageName" class="control-label"></label>
        <input asp-for="@Model.Tema.ImageName" class="form-control" />
        <span asp-validation-for="@Model.Tema.ImageName" class="text-danger"></span>
    </div>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="@Model.Tema.Kode" />

    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>