@page
@model Projektopgave1._2.SeTemaModel
@{
}
<body>



    <div class="text-center">
        <h1 class="display-4">@Model.Tema.Name</h1>
        <img src="~/images/@Model.Tema.ImageName" width="500" height="250">
        <p>@Model.Tema.Description</p>

        <table class="table">
            <thead>
                <tr>
                    <th>Name </th>
                    <th>Id</th>
                    <th>Description</th>
                    <th>Duration</th>
                    <th>Image</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Tema.Udstillinger != null)
                {
                    @foreach (var item in Model.Tema.Udstillinger)
                    {
                        <tr>
                            <td>
                                @item.Name
                            </td>
                            <td>
                                @item.Id
                            </td>
                            <td>
                                @item.Description
                            </td>
                            <td>
                                @item.Duration minutter
                            </td>
                            <td>
                                <img src="~/images/@item.ImageName" width="140" height="70">
                            </td>
                        </tr>
                    }}
            </tbody>
        </table>
    </div>
    <a asp-page="/Udstilling/AddUdstilling"
       class="btn btn-success btn-group-lg pull-right">
        Create Udstilling
    </a>
</body>

