@page
@model Projektopgave1._2.SeTemaModel
@{
}
<body>

    <div class="text-center">
        <h1 class="display-4">@Model.Tema.Name</h1>
        <img src="~/images/@Model.Tema.ImageName" width="500" height="250">
        <p>@Model.Tema.Description</p>

        <h1>CountryEvents</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        City
                    </th>
                    <th>
                        DateTime
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Udstillinger)
                {
                    <tr>
                        <td>
                            @item.Id
                        </td>
                        <td>
                            @item.Name
                        </td>
                        <td>
                            @item.Description
                        </td>
                        <td>
                            @item.ImageName
                        </td>
                        <td>
                            @item.TemaKode
                        </td>
                        <td>
                            <a asp-page="../Udstilling/EditUdstilling" asp-route-id="@item.Id">Edit</a>
                            <a asp-page="../Udstilling/DeleteUdstilling" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div>
            <a asp-page="AllTema">Back to Temaer</a>
        </div>

        <a asp-page="/Udstilling/AddUdstilling"
           class="btn btn-success btn-group-lg pull-right">
            Create Udstilling
        </a>
    </div>
</body>