@page
@model Projektopgave1._2.SeTemaModel
@{
}
<body>

    <div class="overskrift text-center">
        <h1 class="display-4">@Model.Tema.Name</h1>
        <img src="~/images/@Model.Tema.ImageName" width="500" height="250">
        <p>@Model.Tema.Description</p>

        <div class="overskrift"><h1>Udstillinger</h1></div>

        <table class="table">
            <thead>
                <tr class="overskrift">
                    <th>
                        Id
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        ImageName
                    </th>
                    <th>
                        Temakode
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Udstillinger)
                {
                    <tr>
                        <td class="overskrift">
                            @item.Id
                        </td>
                        <td class="overskrift">
                            @item.Name
                        </td>
                        <td class="overskrift">
                            @item.Description
                        </td>
                        <td class="overskrift">
                            @item.ImageName
                        </td>
                        <td class="overskrift">
                            @item.TemaKode
                        </td>
                        <td>
                            <a class="overskrift" asp-page="../Udstilling/EditUdstilling" asp-route-id="@item.Id">Rediger</a>|
                            <a class="overskrift" asp-page="../Udstilling/DeleteUdstilling" asp-route-id="@item.Id">Slet</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <a asp-page="AllTema" class="overskrift btn btn-secondary">Tilbage</a>
        <a asp-page="../Kunstner/AllKunstner"
           class="overskrift text-dark btn btn-success col-auto pull-left">
            Opret Udstilling
        </a>




    </div>
</body>