@page
@model Projektopgave1._2.AddUdstillingModel
@{
}
<h1>CreateUdstilling</h1>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="None " class="text-danger">
            </div>
            <div class="form-group">
                <label asp-for="@Model.Udstilling.Name" class="control-label"></label>
                <input asp-for="@Model.Udstilling.Name" class="form-control" />
                <span asp-validation-for="@Model.Udstilling.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Udstilling.Description" class="control-label"></label>
                <input asp-for="@Model.Udstilling.Description" class="form-control" />
                <span asp-validation-for="@Model.Udstilling.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Udstilling.Id" class="control-label"></label>
                <input asp-for="@Model.Udstilling.Id" class="form-control" />
                <span asp-validation-for="@Model.Udstilling.Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Udstilling.Duration" class="control-label"></label>
                <input asp-for="@Model.Udstilling.Duration" class="form-control" />
                <span asp-validation-for="@Model.Udstilling.Duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Udstilling.ImageName" class="control-label"></label>
                <input asp-for="@Model.Udstilling.ImageName" class="form-control" />
                <span asp-validation-for="@Model.Udstilling.ImageName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Udstilling.TemaKode" class="control-label"></label>
                <select asp-for="@Model.Udstilling.TemaKode" class="form-control"
                        asp-items="@Model.TemaKoder">
                    <option value="">-- Select Code --</option>
                </select>
                <span asp-validation-for="@Model.Udstilling.TemaKode" class="text-danger" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-page="Index">Back to List</a>
</div>

@*<style>
        h5 {
            text-align: center;
            color: blueviolet
        }
    </style>

    <h5>The number of themes are : @Model.Udstillinger.Count</h5>

    <h6 style="color:blue"> Create a new theme</h6>
    <form class="form-horizontal" method="post">
        <div asp-validation-summary="ModelOnly"></div>
        <div class="form-group" style="width:25%">
            <label asp-for="@Model.Udstilling.Name" class="col-sm-2 control-label"></label>
            <div class="col-sm-10">
                <input asp-for="@Model.Udstilling.Name" type="text" class="form-control">
                <span asp-validation-for="@Model.Udstilling.Name" class="text-danger"></span>
            </div>
        </div>
        <div style="width:25%" class="form-group">
            <label asp-for="@Model.Udstilling.Id" class="col-sm-2 control-label"></label>
            <div class="col-sm-10">
                <input asp-for="@Model.Udstilling.Id" type="text" class="form-control">
                <span asp-validation-for="@Model.Udstilling.Id" class="text-danger"></span>
            </div>
        </div>
        <div style="width:25%" class="form-group">
            <label asp-for="@Model.Udstilling.Description" class="col-sm-2 control-label"></label>
            <div class="col-sm-10">
                <input asp-for="@Model.Udstilling.Description" type="text" class="form-control">
                <span asp-validation-for="@Model.Udstilling.Description" class="text-danger"></span>
            </div>
        </div>

        <div style="width:25%" class="form-group">
            <label asp-for="@Model.Udstilling.ImageName" class="col-sm-2 control-label"></label>
            <div class="col-sm-10">
                <input asp-for="@Model.Udstilling.ImageName" type="text" class="form-control">
                <span asp-validation-for="@Model.Udstilling.ImageName" class="text-danger"></span>
            </div>
        </div>




        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="border-light">
                    Add Theme
                </button>
            </div>
        </div>
    </form>*@
