@page
@model Projektopgave1._2.AddUdstillingModel
@{
}
<h3>Opret ny Udstilling</h3>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="None " class="text-danger">
            </div>
            <div class="form-group">
                <label asp-for="@Model.Udstilling.Name" class="control-label"></label>
                <input asp-for="@Model.Udstilling.Name" class="form-control" />
                <span asp-validation-for="@Model.Udstilling.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Udstilling.Description" class="control-label"></label>
                <input asp-for="@Model.Udstilling.Description" class="form-control" />
                <span asp-validation-for="@Model.Udstilling.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Udstilling.Id" class="control-label"></label>
                <input asp-for="@Model.Udstilling.Id" class="form-control" />
                <span asp-validation-for="@Model.Udstilling.Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Udstilling.Duration" class="control-label"></label>
                <input asp-for="@Model.Udstilling.Duration" class="form-control" />
                <span asp-validation-for="@Model.Udstilling.Duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Udstilling.ImageName" class="control-label"></label>
                <input asp-for="@Model.Udstilling.ImageName" class="form-control" />
                <span asp-validation-for="@Model.Udstilling.ImageName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Udstilling.TemaKode" class="control-label"></label>
                <select asp-for="@Model.Udstilling.TemaKode" class="form-control"
                        asp-items="@Model.TemaKoder">
                    <option value="">-- Select Code --</option>
                </select>
                <span asp-validation-for="@Model.Udstilling.TemaKode" class="text-danger"></span>
            </div>

            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                Opret Udstilling
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Er du sikker på du vil oprette denne udstilling?</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuller</button>
                            <button type="submit" class="btn btn-primary">OK</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div>
    <a href="javascript:history.back()" class="btn btn-secondary m-1">Tilbage</a>
</div>

@if (ViewData["Message"] != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@ViewData["Message"]");
            };
    </script>
}
