@page
@model Projektopgave1._2.BrugermenuModel
@{
}
<h1>Bruger menu</h1>
<h1>Vælg tema</h1>

<div class="containerBruger">
    <div class="row">

        @foreach (var item in Model.Temaer)
        {

            <div class="column-2 p-2 mx-auto">
                <div class="card bg-dark text-white">

                    
                    <a asp-page="SeTemaUdstillingerBruger" asp-route-id="@item.Id"> <img src="~/images/@item.ImageName" width="550" height="300" alt="Card image"></a>



                    <p class="centeredTitle"><strong>@item.Name</strong></p>
                    <p class="centeredDesrib"><em>@item.Description</em></p>

                </div>
            </div>
        }
    <div class="column-2 p-2 mx-auto">
        <div class="card bg-dark text-white">


            <a asp-page="BrugerKunstner"> <img src="~/images/Gasolinistudiet.png" width="550" height="300" alt="Card image"></a>



            <p class="centeredTitle"><strong>Kunstnere</strong></p>
            <p class="centeredDesrib"><em>Se kunstnere her</em></p>

        </div>
    </div>
    </div>
    <a href="javascript:history.back()" class="btn btn-secondary m-1">Tilbage</a>
</div>



@*<div class="container">
        <div class="row">
            @foreach (var item in Model.Temaer)
            {

                <div class="col">@item.Name</div>
                <div class="col">@item.Name</div>
            }
        </div>
    </div>*@


