@page
@model Projektopgave1._2.AddKunstnerModel
@{
}
<h3>Opret ny Kunstner</h3>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="None " class="text-danger">
            </div>
            <div class="form-group">
                <label asp-for="@Model.Kunstner.Name" class="control-label"></label>
                <input asp-for="@Model.Kunstner.Name" class="form-control" />
                <span asp-validation-for="@Model.Kunstner.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Kunstner.Description" class="control-label"></label>
                <input asp-for="@Model.Kunstner.Description" class="form-control" />
                <span asp-validation-for="@Model.Kunstner.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Kunstner.Id" class="control-label"></label>
                <input asp-for="@Model.Kunstner.Id" class="form-control" />
                <span asp-validation-for="@Model.Kunstner.Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Kunstner.ImageName" class="control-label"></label>
                <input asp-for="@Model.Kunstner.ImageName" class="form-control" />
                <span asp-validation-for="@Model.Kunstner.ImageName" class="text-danger"></span>
            </div>

            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                Opret Kunstner
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Er du sikker på du vil oprette denne kunstner?</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuller</button>
                            <button type="submit" class="btn btn-primary">OK</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="border-light">
                Add Kunstner
            </button>
            <a href="javascript:history.back()" class="btn btn-secondary m-1">Tilbage</a>
        </div>
    </div>
</form>
</div>
<div>
    <a asp-page="Index">Back to List</a>
</div>

@if (ViewData["Message"] != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@ViewData["Message"]");
            };
    </script>
}