@page
@model Projektopgave1._2.AllKunstnerModel
@{
}
<div class="overskrift"><h1>Kunstnere</h1></div>
<table class="table">
    <thead>
        <tr class="overskrift">
            <th>Name </th>
            <th>Id</th>
            <th>Description</th>
            <th>Image</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Kunstnere.Count != 0)
        {
        @foreach (var item in Model.Kunstnere)
        {
        <tr class="overskrift">
            <td>
                @item.Name
            </td>
            <td>
                @item.Id
            </td>
            <td>
                @item.Description
            </td>
            <td>
                <img src="~/images/@item.ImageName" width="140" height="70">
            </td>
            <td>
                <p>
                    <a asp-page="EditKunstner" asp-route-id="@item.Id">Rediger</a> |
                    <a asp-page="DeleteKunstner" asp-route-id="@item.Id">Slet</a> |
                    
                </p>
            </td>
        </tr>
        }}
    </tbody>
</table>
<a asp-page="AddKunstner"
   class="overskrift btn btn-success btn-group-lg pull-right">
    Create kunstner
</a>
<div>
    <a asp-page="../Tema/AllTema" class="overskrift btn btn-secondary m-1">Tilbage</a>
</div>
