@page
@model Projektopgave1._2.EditKunstnerModel
@{
}
<div class="overskrift"><h1>Redigér Kunstner</h1></div>

<p>ID @Model.Kunstner.Id</p>
<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="@Model.Kunstner.Id" />
    <div class="overskrift form-group">
        <label asp-for="@Model.Kunstner.Name" class="control-label"></label>
        <input asp-for="@Model.Kunstner.Name" class="form-control" />
        <span asp-validation-for="@Model.Kunstner.Name" class="text-danger"></span>
    </div>
    <div class="overskrift form-group">
        <label asp-for="@Model.Kunstner.Description" class="control-label"></label>
        <input asp-for="@Model.Kunstner.Description" class="form-control" />
        <span asp-validation-for="@Model.Kunstner.Description" class="text-danger"></span>
    </div>
    <div class="overskrift form-group">
        <label asp-for="@Model.Kunstner.ImageName" class="control-label"></label>
        <input asp-for="@Model.Kunstner.ImageName" class="form-control" />
        <span asp-validation-for="@Model.Kunstner.ImageName" class="text-danger"></span>
    </div>

    <button type="button" class="overskrift btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Rediger Kunstner
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Er du sikker på du vil redigere denne kunstner?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="overskrift btn btn-secondary" data-dismiss="modal">Annuller</button>
                    <button type="submit" value="Save" class="overskrift btn btn-primary">OK</button>
                </div>
            </div>
        </div>
    </div>
</form>
<div>
    <a href="javascript:history.back()" class="overskrift btn btn-secondary mt-1">Tilbage</a>
</div>
